main {
    width: 95vw;
    height: 80vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    border-radius: 2rem;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 80%;
    background-color: rgb(41,41,41);
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 40px;
}

.content-p {
    width: 90%;
    padding: 10px;
    color: whitesmoke;
    font-size: 18px;
}

.image {
    width: 60%;
    height: 100%;
}

main .content-internal-btn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content-internal-btn a {
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(19, 165, 82);
    border-radius: 0.5rem;
    text-decoration: none;
}

