.mat-toolbar {
    background-color: blue;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-img {
    width: 60px;
}

.mat-toolbar-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-links a {
    color: whitesmoke;
    text-decoration: none;
}