<main>
    <div class="content">

        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eligendi tempora quisquam suscipit aliquid,
                recusandae dignissimos explicabo similique nobis corrupti omnis magni sunt laudantium commodi voluptate,
                reiciendis quas distinctio iste?
            </p>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis corporis earum eius, sapiente maxime
                labore debitis commodi quod vel odio, quo est officia inventore deleniti fugit tempore doloribus
                placeat? Sunt.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ad ducimus suscipit tenetur dolorem iste,
                est hic aut sint voluptate, magnam minus eaque molestias! Accusantium soluta necessitatibus ut iste in.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sapiente, non labore impedit quaerat quae
                quibusdam cum! Earum tenetur autem molestias, quis consectetur temporibus illum modi magnam, rerum, in
                adipisci!
            </p>
        </article>

    </div>
</main>
